<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title"></h4>
                      <p class="card-category"></p>
                      <div class="search-form form">
                          <div class="row">
                                <div class="form-group col-sm-6 col-lg-3">
                                    <label for="brewerSelect">Brewer</label>
                                    <select (change)="brewerSelect()" id="brewerSelect" class="form-control">
                                        <ng-container *ngFor="let brewerName of brewersList">
                                            <option>{{ brewerName }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-lg-3">
                                    <label for="searchString">Beer name</label>
                                    <input [ngModel]="searchString" class="form-control" id="searchString"/>
                                </div>
                                <div class="form-group col-sm-6 col-lg-3">
                                    <label>Price range</label>
                                    <div class="form-group">
                                        <input [ngModel]="priceFrom" [placeholder]="'from'" class="col-md-6"/>
                                        <input [ngModel]="priceTo" placeholder="to" class="col-md-6"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-lg-3">
                                    <label for="countrySelect">Country select</label>
                                    <select (change)="countrySelect()" id="countrySelect" class="form-control">
                                        <ng-container *ngFor="let countryName of countryList">
                                            <option>{{ countryName }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-lg-3">
                                    <label for="typeSelect">Beer style(type)</label>
                                    <select (change)="typeList()" id="typeSelect" class="form-control">
                                        <ng-container *ngFor="let type of typeList">
                                          <option>{{ type }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Beer name</th>
                              <th>Brewer</th>
                              <th>Type</th>
                              <th>Country</th>
                              <th>Price per litre</th>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let beer of beerList">
                              <tr>
                                  <td>{{beer.beerName}}</td>
                                  <td>{{beer.brewer}}</td>
                                  <td>{{beer.style}}</td>
                                  <td>{{beer.country}}</td>
                                  <td>{{beer.pricePerLitre}}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
